<div class="col">
    <div class="d-flex justify-content-center align-items-center" style="height:100px;">
        <button type="button" class="btn btn-dark btn-circle btn-xl" id="btnOpen">Open</button>
        <div class="pt-5">
            <h3>Status: <span id="sensorStatus">{{ sensorStatus }}</span></h3>
        </div>
    </div>
</div>

<script>
    document.querySelector("#btnOpen").addEventListener("click", (e) => {
        e.preventDefault()
        fetch('/api/v1/door', {
            method: 'POST'
        })
            .then(response => response.json())
            .then(data => {

            })
            .catch((error) => {
                console.error('Error:', error);
            });

    })
</script>