<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center mt-5">

            <button class="pushable" id="btnOpen">
                <span class="edge"></span>
                <span class="front">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="150"
                        height="150" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="5 12 3 12 12 3 21 12 19 12" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                </span>
            </button>

        </div>
        <div class="pt-5 d-flex justify-content-center align-items-center">
            <h3>Status: <span id="sensorStatus"></span></h3>
        </div>
    </div>
</div>

<script>

    addEventListener("DOMContentLoaded", () => {
        fetch('/api/v1/door/status')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.querySelector('#sensorStatus').innerHTML = data.Message
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

    document.querySelector("#btnOpen").addEventListener("click", (e) => {
        e.preventDefault()
        fetch('/api/v1/door', {
            method: 'POST'
        })
            .then(response => response.json())
            .then(data => {

            })
            .catch((error) => {
                console.error('Error:', error);
            });

    })
</script>