<div class="col">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <label for="username" class="pt-3">Username</label>
        <input type="username" class="form-control" id="username" placeholder="name@example.com">

        <label for="password" class="pt-3">Password</label>
        <input type="password" class="form-control mb-3" id="password" placeholder="Password">

        <button class="w-100 btn btn-lg btn-primary" type="submit" id="btnSignIn">Sign in</button>

    </form>
    <script>
        document.querySelector('#btnSignIn').addEventListener('click', (e) => {
            e.preventDefault()

            fetch('api/v1/auth/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username: document.querySelector('#username').value, password: document.querySelector('#password').value}) // body data type must match "Content-Type" header
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.accessToken){
                        console.log(data.message)
                    }
                    console.log(data)
                    window.location.replace("/")
                })
        })

    </script>
</div>